@import "../../variables";

.UserAvatar {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: $shadow;
  position: relative;

  &.big {
	width: 120px;
	height: 120px;
  }

  &.medium {
	width: 60px;
	height: 60px;
	border-width: 3px;
  }

  &.small {
	width: 44px;
	height: 44px;
	border-width: 2px;
  }

  &.tiny {
	width: 36px;
	height: 36px;
	border-width: 2px;
  }

  &.isOnline {
	&:after {
	  content: '';
	  display: block;
	  width: 12px;
	  height: 12px;
	  background: $accent;
	  border-radius: 50%;
	  position: absolute;
	  right: 2%;
	  bottom: 2%;
	  z-index: 2;
	  border: 2px solid #fff;
	  box-sizing: border-box;
	}
  }

  img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
  }
}