@import "../../variables";

.Preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #666;
	transition: all $t;
	margin: 0 3px;

	:global{
	  animation: .6s infinite dotAnimation;
	}

	&:nth-child(2){
	  animation-delay: .2s;
	}

	&:nth-child(3){
	  animation-delay: .4s;
	}
  }
}

@keyframes :global(dotAnimation) {
  0%{
	//transform: scale(1);
	background: #666;
  }

  50%{
	//transform: scale(1.1);
	background: #333;
  }

  0%{
	//transform: scale(1);
	background: #666;
  }
}