@import "../../../../variables";

.Post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  .userAvatar {
    margin-right: 16px;
    flex: none;
  }

  .postText {

  }
}